---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "fonts",
        "base",
        "typography",
        "layout-single-post",
        "layout-about",
        "layout-work",
        "layout-resume",
        "organism-excerpts",
        "organism-header",
        "organism-page-nav",
        "syntax-highlighting"
;
@media print{
    .site-header{
        display: none;
    }
    .resume{
        font-size: 130%;
        height: 100%;
        margin: 0;
        padding: $pad*3;
    }
}
