/*------------------------------------*\
    ::Single Posts
\*------------------------------------*/
.post-content,
.post-header{
    max-width: 800px;
    margin: 0 auto;
    img{
        display: block;
        margin: 0 auto;
    }
}

.post-content {
  h2 {
    padding-top: 1em;
  }
  a {
    word-wrap: break-word;
  }
}