/*------------------------------------*\
    ::Site Header
\*------------------------------------*/
.site-header{
    text-align: center;
    .header__social{
	display: inline-block;
    	width: 100%;
    	a{
    		margin: {right:$pad*2;}
    	}
    }
}

/*------------------------------------*\
    ::Post Excertps
\*------------------------------------*/
.post{
        padding: {left:$pad;right:$pad;}
        margin: {bottom:$pad*2;}
        &:first-child{
            margin: {top:$pad*2;}
        }
}
.post-meta{
	margin: {top:$pad;}
	svg{
		width: 15px;
		height: 15px;
		margin: {right: $pad/2;}
	}
}
.rss-subscribe{
	text-align: center;
}

/*------------------------------------*\
    ::Single Posts
\*------------------------------------*/
.post-content{
    img{
        display: block;
        margin: 0 auto;
    }
}