/*------------------------------------*\
::Post Excertps
\*------------------------------------*/
.posts{
	article{
		border-bottom: 1px solid $color-1;
		padding: $pad*3 0;
		margin: 0 $pad*3;
	}
}
.posts__inner {
	> a{
		display: block;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			height: 1px;
			width: 0;
			background: linear-gradient(to right, #ED1C5B , #FFEDBC);
			transition: left cubic-bezier(0.6, 0.04, 0.98, 0.335) 666ms, width cubic-bezier(0.6, 0.04, 0.98, 0.335) 666ms;
		}
		&:hover {
			&:before {
				left: 0;
				width: 100%;
			}
		}
		p{
			color: $color-1;
		}
	}
}
.post{
	padding: {left:$pad; right:$pad;}
	margin: {bottom:$pad*2;}
	p{
		padding: {bottom: 0;}
	}
}
.post-meta{
	margin: 0;
	svg{
		width: 15px;
		height: 15px;
		margin: {right: $pad/2;}
	}
}
.rss-subscribe{
	text-align: center;
}
