/*------------------------------------*\
::Site Header
\*------------------------------------*/
.site-header{
  margin: 0 auto;
  max-width: 1140px;
  h1{
    color: $color-1;
    font-family: $fam-display;
    font-size: 4em;
    letter-spacing: -4px;
    text-transform: uppercase;
    a{
      color: $color-1;
      display: block;
      line-height: 0.8;
      padding-left: 0;
    }
  }
  .header__social{
    background-color: $color-1;
    display: flex;
    padding: $pad/2;
    a{
      line-height: 0;
      padding: 0 $pad/2;
      svg {
        fill: $color-2;
      }
    }
  }
}
/*------------------------------------*\
::Header Nav
\*------------------------------------*/
.header__nav{
  padding: {top:$pad;}
  @media (min-width: 850px) {
    align-items: center;
    display: flex;
  }
  a{
    position: relative;
    padding: {left:$pad;right:$pad;}
    color: $color-1;
    &:after {
      background-color: $color-5;
      content: "";
      position: absolute;
      bottom: 0;
      height: 0;
      width: 100%;
      left: 0;
      mix-blend-mode: lighten;
      transition: ease 300ms height;
    }
    &:hover,
    &.active{
      text-shadow: 0 1px 0 rgba($color-2,.75);
      &:after {
        height: 53%;
      }
    }
  }
}
