/*------------------------------------*\
    ::Variables
\*------------------------------------*/
/*------------------------------------*\
    ::Spacing
\*------------------------------------*/
$pad: 0.9375rem;


/*------------------------------------*\
    ::Colors
\*------------------------------------*/
$color-1: #09091A;
$color-2: #E6E6E9;
$color-3: #ED1C5B;
$color-4: #6D2E41;
