/*------------------------------------*\
    ::Variables
\*------------------------------------*/
/*------------------------------------*\
    ::Spacing
\*------------------------------------*/
$pad: 0.9375rem;

/*------------------------------------*\
    ::Colors
\*------------------------------------*/
$color-1: #1a1a1a;
$color-2: #f5f5f5;
$color-3: #221E1E;
$color-4: #6D2E41;
$color-5: #ff2a61;

$fam:     'Lora', serif;
$fam-body: 'Lato', sans-serif;
$fam-display: 'Rubik', sans-serif;