/*------------------------------------*\
    ::Variables
\*------------------------------------*/
/*------------------------------------*\
    ::Spacing
\*------------------------------------*/
$pad: 0.9375rem;

/*------------------------------------*\
    ::Colors
\*------------------------------------*/
$color-1: #1a1a1a;
$color-2: #E6E6E9;
$color-3: #A6A6A6;
$color-4: #6D2E41;

$fam:     'Libre Baskerville', serif;