.-dark {
  --background: #1D1F20;
  --parentBg: #EAEBEB;
  --fontColor: #E35F75;
  --fontColorAlt: var(--background);
  --link: var(--parentBg);
}

.-light {
  --background: #e5e7e8;
  --parentBg: #D5D7D8;
  --fontColor: #303633;
  --link: #444A73;
  --fontColorAlt: var(--link);
}

.wrapper {
  background-color: var(--background);
  color: var(--fontColor);
}

.bg {
  background-color: var(--background);
}
.bg-parent {
  background-color: var(--parentBg);
}
.bg-color {
  background-color: var(--fontColor);
}
.color-font {
  color: var(--fontColor);
}
.color-bg {
  color: var(--background);
}
.color-link {
  color: var(--link);
}

.btn{
  border: 3px solid var(--fontColorAlt);
  background-color: transparent;
  color: var(--fontColorAlt);
  cursor: pointer;
  display: inline-block;
  margin-right: 1rem;
  padding: .2rem .5rem;
  text-transform: uppercase;
}

.btn.-dark {
  background-color: var(--fontColorAlt);
  color: var(--fontColor);
}

.primary-nav a {
  color: var(--fontColorAlt);
}

a {
  color: var(--fontColor);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

hr {
  opacity: .1;
}

.post a {
  color: var(--link);
}

.post a:hover,
.post a:focus {
  text-decoration: underline;
}

.post .date {
  color: var(--fontColorAlt);
}

.post blockquote {
  background-color: var(--parentBg);
  border-left: 3px solid var(--fontColor);
  color: var(--fontColorAlt);
  margin: 0;
  padding: 1rem 3rem;
  font-style: italic;
}

.post blockquote a {
  color: var(--fontColorAlt);
}

.post-title:hover {
  text-decoration: underline;
}

.post-title svg {
  margin-left: 1rem;
}

.post-title .lh-copy {
  align-items: center;
  display: flex;
}

.post a {
  color: var(--fontColorAlt);
  text-decoration: underline;
}

@media ( min-width: 64em ) {
  .job-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
  }
}