/*------------------------------------*\
    ::Single Posts
\*------------------------------------*/
.post__inner {
  padding-top: $pad*2;
  @media (min-width: 1000px) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 32px;
  }
}

.post-content,
.post-header{
    margin: 0 auto;
    img{
        display: block;
        margin: 0 auto;
    }
}

.post-header {
  padding-bottom: $pad;
  @media (min-width: 1000px) {
    padding-bottom: 0;
    padding-right: 32px;
  }

  h1 {
    position: relative;
    &:before {
      content: '';
      background-image: radial-gradient($color-1 15%, transparent 15%);
      background-size: 10px 10px;
      height: 100%;
      left: 0;
      position: absolute;
      transform: translateX(-100%);
      width: calc((100vw - 1140px) / 2);
    }
  }
}

.post-content {
  font-family: $fam-body;
  h2 {
    padding-top: 1em;
  }
  a {
    box-shadow: 0 0 0 rgba(#fff, 0) inset;
    color: $color-5;
    transition: box-shadow 300ms ease;
    word-wrap: break-word;

    &:hover,
    &:focus {
      box-shadow: 0 -.5rem 0 darken($color-2, 10%) inset;
      text-shadow: 0 1px 0 rgba($color-2,.75);
    }
  }
  p {
    &:first-child {
      margin-top: 0;
    }
  }
}