/*------------------------------------*\
::Post Excertps
\*------------------------------------*/
.posts{
  article{
    padding: $pad 0;
    margin: 0;
  }
}
.posts__inner {
  > a{
    display: block;
    position: relative;
    h2 {
      box-shadow: 0 0 0 rgba(#fff, 0) inset;
      position: relative;
      transition: box-shadow 300ms ease;
    }
    &:hover {
      h2 {
        text-shadow: 0 1px 0 rgba($color-2,.75);
        box-shadow: 0 -1.15rem 0 darken($color-2, 10%) inset;
      }
    }
    p:not(.post-meta){
      color: $color-1;
    }
  }
}
.post{
  padding: {left:$pad; right:$pad;}
  margin: {bottom:$pad*2;}
  p{
    padding: {bottom: 0;}
  }
}
.post-meta{
  margin: 0;
  svg{
    width: 15px;
    height: 15px;
    margin: {right: $pad/2;}
  }
}
