---
layout: default
---
<div class="post">
<div class="post__inner">
	  <header class="post-header">
	    <h1 class="post-title">{{ page.title }}</h1>
	    <p class="post-meta"><span class="post-posted">{{ page.date | date: "%B %-d, %Y" }}</span></p>
	  </header>

	  <article class="post-content">
	    {{ content }}
                <figure class="kudo kudoable" data-id="1">
                    <a class="kudobject">
                        <div class="opening"><div class="circle">&nbsp;</div></div>
                    </a>
                    <a href="#kudo" class="count">
                        <span class="num">0</span>
                        <span class="txt">Kudos</span>
                    </a>
                </figure>
	  </article>
  </div>

</div>
